
	<div id="footer" class="footer" >
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-5 left">
				<h2>Sigma Phi Delta</h2>
				<p> We are the only socially oriented engineering fraternity at the University of Maryland. </p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 middle">
				<h4>Quick Links:</h2>
				<ul >
					<li><a href="/about#exec">Exec Board</a></li>
					<li><a href="/rush#academics">Academic Info</a></li>
					<li><a href="/rush#career">Jobs we've had</a></li>
					<li><a href="https://orgsync.com/64333/news_posts" target="_blank">UMD OrgSync Page</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 right" >
				<div style="margin-bottom:10px">
					<a href="http://www.umd.edu" target="_blank"><img src="img/umd_logo.png" style="height:40px;"></a>
				</div>

				<div >
					<a href="http://sigmaphidelta.org" style="color:white; font-size:16pt;" target="_blank">&Sigma;&Phi;&Delta; National Website <img src="img/link.png" width="14px" height="14px"></a>
				</div>
				<div style="font-size:12pt;">
					Site designed by Steven Gresh
					<a href="https://www.linkedin.com/in/stevengresh" target="_blank"><img src="img/linkedin.ico" style="width:15px;height:15px;"></a>
					<a href="mailto:stvngrsh@gmail.com" target="_blank"><img src="img/gmail.ico" style="width:15px;height:15px;"></a>
				</div>
			</div>
		</div>

			<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>-->
		</div>

	</div>
