<html lang="en">

{{ > header }}

<body>

    {{ > nav }}
	<div class="container" style="text-align:center">
		<h2 style="margin-top:75px;">Contact Sigma Phi Delta</h2>
		<h4>For national chapter information please visit the website <a href="http://www.sigmaphidelta.org/">here</a> </h4>
		<h4>Click this link to see our exec board members <a href="about.mustache">Link</a> </h4>
		<div class="list-group">
			<div class="list-group-item">
				<h3>Chapter President</h3>
				<h4>Justin Layton | 609-929-4274 | jlayton@umd.edu</h4>
			</div>
			<div class="list-group-item">
				<h3>Rush Chair</h3>
				<h4>Kyle Goncz | 443-875-8015 | gonczky@gmail.com</h4>
			</div>
			<div class="list-group-item">
				<h3>Social Chair</h3>
				<h4>Joe Repac | joeyrepac28@gmail.com</h4>
			</div>
			<div class="list-group-item">
				<h3>Fundraising Chair</h3>
				<h4>Billy Toole | bballtoole@gmail.com</h4>
			</div>
			<div class="list-group-item">
				<h3>Philantropy Chair</h3>
				<h4>Andy Morsales | amorales@terpmail.umd.edu</h4>
			</div>
			<div class="list-group-item">
				<h3>Webmasters</h3>
				<h4>Okechi Onyeje | o.onyeje3321@gmail.com</h4>
        <h5>Cole Alban | colemalban@gmail.com</h5>
			</div>
		</div>
	</div>
		{{ > footer }}

			<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>-->
	</div>


	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slidemenu.js"></script>


	<script>
	$(window).scroll(function() {
		if ($(document).scrollTop() > 50) {
			$('nav, .navbar-brand, #nav-container').addClass('shrink');
		} else {
			$('nav, .navbar-brand, #nav-container').removeClass('shrink');
		}
	});

	</script>

</body>
</html>
