<html lang="en">


{{ > header }}

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div id="nav-container" class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">&Sigma;&Phi;&Delta;</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav">
                    <li><a href="/rush">Rush</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/schedule">Events</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div id="main-container" class="container">
		<div class="banner">
			<img src="img/bannertest.png">
		</div>
		<div class="accordion">
			<a href="/rush" class="accordion-bck">
				<div class="overlay overlay-bck active"></div>
				<img class="accordion-bck-img " src="img/group/flag2015.jpg">
			</a>

			<a href="/rush" class="accordion-item active left" id="acc1" class="active" style="overflow:visible">
				<div class="accordion-text unselect">
					<h1>Rush&nbsp;2016</h1>
				</div>
			</a>
			
			<a href="rush.html#academics" class="accordion-item" id="acc2">
				<div class="accordion-text unselect">
					<h1>Academics</h1>
				</div>
				<div class="overlay"></div>
				<img class="accordion-img notfocus" src="img/cadbest.jpg">
			</a>

			<a href="rush.html#career" class="accordion-item" id="acc2">
				<div class="accordion-text unselect">
					<h1>Career</h1>
				</div>
				<div class="overlay"></div>
				<img class="accordion-img notfocus" src="img/panel.jpg">
			</a>
			
			<a href="rush.html#social" class="accordion-item right" id="acc3">
				<div class="accordion-text unselect">
					<h1>Social</h1>
				</div>
				<div class="overlay"></div>
				<img class="accordion-img notfocus" src="img/group/beach.jpg">
			</a>
		</div>

		<div class="accordion-mobile">
			<div class="automatic-slider" style="width:100%">
   			<ul>
   				<li class="slider-item" >
   					<a href="rush.html">
   						<h1>Rush</h1>
	   					<div class="slider-img" style="background-image:url('img/group/flag2015.jpg');"></div>
	   				</a>
					</li>
					<li class="slider-item" >
						<a href="rush.html#academics">
							<h1>Academics</h1>
	   					<div class="slider-img" style="background-image:url('img/cadbest.jpg');"></div>
	   				</a>
					</li>
					<li class="slider-item">
						<a href="rush.html#career">
							<h1>Career</h1>
	   					<div class="slider-img" style="background-image:url('img/panel.jpg');"></div>
	   				</a>
					</li>
					<li class="slider-item">
						<a href="rush.html#social">
							<h1>Social</h1>
	   					<div class="slider-img" style="background-image:url('img/group/beach.jpg');"></div>
	   				</a>
					</li>
   			</ul>
			</div>
		</div>
		
		<div class="col-xs-12">
			<div class="col-lg-6">
				<h3 align="center">Members in the News</h3>
				<h5 align="center"><BR></h5>
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge no-cell"><div style="display:inline;">Aerospace</div></span>
						<a href="http://www.umdrightnow.umd.edu/news/umd-led-team-advances-spacex-hyperloop-pod-competition" target="_blank">SpaceX Hyperloop Competition</a>
						<div class="brother-label">
							Brother David Hairumian
						</div>
					</li>
					<li class="list-group-item">
						<span class="badge no-cell"><div style="display:inline;">Hackathon</div></span>
						<a href="http://technical.ly/philly/2016/01/28/american-sign-language-app/" target="_blank">Students Create App That Can Read Sign Language</a>
						<div class="brother-label">
							Brother Shah-Ameer Wali
						</div>
					</li>
					<li class="list-group-item">
						<span class="badge no-cell"><div style="display:inline;">Materials</div></span>
						<a href="http://www.diamondbackonline.com/news/article_f5cdb692-f2b0-11e4-86f4-0b615b916582.html" target="_blank">Gemstone Team Builds Super-Strong Nanopaper</a>
						<div class="brother-label">
							Brother Jonathan Kagan
						</div>
					</li>
					<li class="list-group-item">
						<span class="badge no-cell"><div style="display:inline;">Computer Science</div></span>
						<a href="http://blogs.rhsmith.umd.edu/questpress/?p=2815" target="_blank">Rock Paper Scissors Through Machine Learning</a>
						<div class="brother-label">
							Brother Steven Gresh
						</div>
					</li>
					<li class="list-group-item">
						<span class="badge no-cell"><div style="display:inline;">Hackathon</div></span>
						<a href="http://devpost.com/software/the-electoral-roast" target="_blank">Website That Maps Election Related Tweets</a>
						<div class="brother-label">
							Brothers Cole Alban, Nick Hays & Alex Kyei
						</div>
					</li>
					
				</ul>

			</div>
			<div class="col-lg-6">
				<h3 align="center">Send us a message</h3>
				<form role="form">
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="name" class="form-control" id="name">
					</div>
					<div class="form-group">
						<label for="email">Email Address:</label>
						<input type="name" class="form-control" id="name">
					</div>
					<div class="form-group">
					  <label for="comment">Message:</label>
					  <textarea class="form-control" rows="5" id="comment"></textarea>
					</div>
					<button class="btn btn-info" id="submit-btn">Submit</button>
				</div>

			<div class="col-xs-12" style="text-align:center; margin-top:10px;">
				<h2>Click Below for the full 2016 Rush Schedule</h2>
				<a id="rush" href="schedule.html" class="btn btn-warning btn-lg">
					<img src="img/calendar179.png">
					Rush Schedule
				</a>
			</div>
		</div>
	</div>

	<div id="footer" class="footer" >
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-5 left">
				<h2>Sigma Phi Delta</h2>
				<p> We are the only socially oriented engineering fraternity at the University of Maryland. </p> 
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 middle">
				<h4>Quick Links:</h2>
				<ul >
					<li><a href="about.html#exec">Exec Board</a></li>
					<li><a href="rush.html#academics">Academic Info</a></li>
					<li><a href="rush.html#career">Jobs we've had</a></li>
					<li><a href="https://orgsync.com/64333/news_posts" target="_blank">UMD OrgSync Page</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 right" >
				<div style="margin-bottom:10px">
					<a href="http://www.umd.edu" target="_blank"><img src="img/umd_logo.png" style="height:40px;"></a>
				</div>

				<div >
					<a href="http://sigmaphidelta.org" style="color:white; font-size:16pt;" target="_blank">&Sigma;&Phi;&Delta; National Website <img src="img/link.png" width="14px" height="14px"></a>
				</div>
				<div style="font-size:12pt;">
					Site designed by Steven Gresh
					<a href="https://www.linkedin.com/in/stevengresh" target="_blank"><img src="img/linkedin.ico" style="width:15px;height:15px;"></a>
					<a href="mailto:stvngrsh@gmail.com" target="_blank"><img src="img/gmail.ico" style="width:15px;height:15px;"></a>
				</div>
			</div> 
		</div>
		
			<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>-->
		</div>

	</div>

	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slidemenu.js"></script>
	<script src="js/unslider-min.js"></script>

	<script>
	var accordionItem = $(".accordion-item");
	var accordionImg = $(".accordion-img");
	var accordionBckImg = $(".accordion-bck-img");
	var overlay = $(".overlay");
	/*$(window).scroll(function() {
		if ($(document).scrollTop() > 50) {
			$('nav').addClass('shrink');
		} else {
			$('nav').removeClass('shrink');
		}
	});*/

	accordionItem.mouseover(function() {
		accordionItem.removeClass("active");
		overlay.removeClass("active");
		$(this).addClass("active");
	});

	$(".accordionBckImg, .accordion-item.left").mouseover(function() {
		accordionItem.removeClass("active");
		$(".accordion-item.left").addClass("active");
		$(".overlay.overlay-bck").addClass("active");
	});

	$('.automatic-slider').unslider({
		autoplay: true 
	});
	$( document ).ready(function(){
		if (navigator.userAgent.indexOf('Edge') !== -1 || navigator.appVersion.indexOf('Trident/') > 0 || navigator.userAgent.indexOf('MSIE') !== -1) {
		   alert('Hello, we apologize but some features currently do not display correctly on Microsoft Edge or Internet Explorer. For optimal performance, use another browser such as Firefox or Chrome.');
		}
		
	});
	
	</script>

</body>
</html>
