<!DOCTYPE html>
<html lang="en">
{{ > header}}

<body >

    {{ > nav }}
	<div class="container" style="overflow-x: hidden;">
		<section class="module parallax parallax-1">
			<div class="parallax-container">
				<h1>WHY &Sigma;&Phi;&Delta;?</h1>
			</div>
		</section>

		<section class="module content">
			<div class="parallax-container">
				<h2>Who we are</h2>
				<p>Sigma Phi Delta is the only social and professional engineering fraternity at the University of Maryland. We are focused on our studies but we also know how to kick back and have a good time. Rush Week is your best opportunity to meet some of the brothers and to find out if our culture is a good fit for you. The ideal rush is someone who can balance their social life with the workload that comes with being an engineer at UMD. We encourage you to stop by and see what we're about!</p>

				<div class="col-xs-12" style="float:none; display:inline-block; text-align:center;">
					<div class="col-xs-12 col-sm-6">
						<h2>Click Below for the 2016 Rush Schedule</h2>
						<a id="rush" href="/schedule" class="btn btn-warning btn-lg">
							<img src="img/calendar179.png">
							Rush Schedule
						</a>
					</div>
					<div class="col-xs-12 col-sm-6">
						<h2>Join our Facebook event for updates</h2>
						<a id="fb" href="https://www.facebook.com/events/1669893916603478/" class="btn btn-info btn-lg">
							<img src="img/facebook_30x30.png">
							Facebook Event
						</a>
					</div>
				</div>
			</div>

		</section>

		<section class="module parallax parallax-2" id="academics">
			<div class="parallax-container">
				<h1>Academics</h1>
			</div>
		</section>

		<section class="module content">
			<div class="parallax-container">
				<h2>You're an engineer, and we're here to help</h2>
				<p>Studying 24/7 isn't fun, but neither is failing a class. We can help you find a middle ground. We take our majors seriously and are proud of our diverse mix of engineering majors and maintain a 3.2 average GPA across the fraternity. If you need a study partner you wont need to look far. We also have members involved in campus research labs and many student groups and honors organizations.</p>
				<div class="col-xs-12" style="height:350px;float:none;">

					<div class="donut-holder col-xs-12 col-sm-7 col-md-6" style="display:block;">
						<div id="donutchart" style="width:600px; height:500px; margin: -40px;"></div>
					</div>

					<ul id="clubs" class="list-group col-xs-12 col-sm-5 col-md-6" style="float:right">
						<li class="list-group-item active">
							<b>Groups were involved in:</b>
						</li>
						<li class="list-group-item">
							<a href="http://www.rhsmith.umd.edu/programs/undergraduate-programs/academics/fellows-special-programs/quest" target="_blank">QUEST Honors Program</a>
						</li>
						<li class="list-group-item">
							<a href="http://www.gemstone.umd.edu/" target="_blank">Gemstone</a>
						</li>
						<li class="list-group-item">
							<a href="https://cmns.umd.edu/news-events/features/3400" target="_blank">SpaceX Hyperloop Competition</a>
						</li>
						<li class="list-group-item">
							<a href="http://racing.umd.edu/" target="_blank">Terps Racing</a>
						</li>
						<li class="list-group-item">
							<a href="http://www.eng.umd.edu/ESC/societies.html" target="_blank">ASME, ASCE, ALCHE, etc.</a>
						</li>
					</ul>
				</div>
				<h2>Past Academic Events</h2>
				<div class="row">
					<div class="thumbs">
						<div class="thumb">
							<div class="thumbnail">
								<h3>Autodesk Workshop</h3>
								<div style="overflow:hidden;">
									<img src="img/cadbest.jpg" class="img-thumb">
								</div>
								<div class="caption">
									<h3>Improve your skills</h3>
									<p>We host workshops on technical skills on topics like CAD, web design and more.</p>
								</div>
							</div>
						</div>

						<div class="thumb">
							<div class="thumbnail">
								<h3>Graduate Panel</h3>
								<div style="overflow:hidden;">
									<img src="img/panel.jpg" class="img-thumb">
								</div>
								<div class="caption">
									<h3>Is graduate school right for you?</h3>
									<p>We've hosted a panel of graduate students and post-grads to discuss the impacts of graduate level education.</p>
								</div>
							</div>
						</div>

						<div class="thumb">
							<div class="thumbnail">
								<h3>Engineering Expo</h3>
								<div style="overflow:hidden;">
									<img src="img/expo.jpg" class="img-thumb">
								</div>
								<div class="caption">
									<h3>Showing our talents</h3>
									<p>Our members involved in the Human Powered Helipcopter project show off the technology to students.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="module parallax parallax-3" id="career">
			<div class="parallax-container">
				<h1>Career</h1>
			</div>
		</section>

		<section class="module content">
			<div class="parallax-container">
				<h2>You know what's cool? Employment</h2>
				<p>Amoung our members we've held a wide variety of internships and full time postions across top engineering companies. 100% of our alumni are currently employed in a full time position related to engineering, or pursuing gradutate school. Joining Sigma Phi Delta gives you access to countless connections in the industry as well as a vast range of advice and experienced members that can help you get that job you've always wanted. Scroll down to check out some of the companies our Maryland members have been a part of.</p>
				<h2 id="fb">Where we've worked</h2>
				<div class="col-xs-12" style="float:none">
					<div class="logo-cont"><img class="logo" src="img/companies/fb.png"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/white/arl.png"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/lm.jpg"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/white/apl.png"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/ms.jpg"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/white/google.jpg"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/white/nasa.png"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/accenture.png"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/white/siemens.png"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/white/wt.jpg"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/af.png"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/deloitte.jpg"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/white/appian.png"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/white/bechtel.jpg"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/l3.jpg"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/white/m3d.jpg"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/white/att.png"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/white/atk.png"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/white/bd.png"></div>
					<div class="logo-cont"><img class="logo" src="img/companies/bah.jpg"></div>


				</div>
			</div>
		</section>

		<section class="module parallax parallax-4" id="social">
			<div class="parallax-container">
				<h1>Social</h1>

			</div>
		</section>

		<section class="module content">
			<div class="parallax-container">
				<h2>You can't spell Engineering without "F-u-n" </h2>
				<p>Sigma Phi Delta is both a social and professional fraternity - we know how to get work done, but we also know how to have a good time. Kinda like a tuxedo T-shirt, but if the tuxedo was a polo oversized shirt and cargo shorts. We participate in a wide variety of events including social events with other organzations, brotherhood events, philantropy events, intramural sports and more. Check out some of our past events below.</p>
				<div class="row">
					<div class="thumbs">
						<div class="thumb">
							<div class="thumbnail">
								<h3>Intramurals</h3>
								<div style="overflow:hidden;">
									<img src="img/sportsz.jpg" class="img-thumb">
								</div>
								<div class="caption">
									<h3>Who says engineers can't play sports.</h3>
									<p>Alongside of our stellar soccer team, we also participate in vollyball, baseball, flag football, and more.</p>
									<!--<p><a class="btn btn-primary" id="sports-btn">Read more</a></p>-->
								</div>
							</div>
						</div>

						<div class="thumb">
							<div class="thumbnail">
								<h3>Fraternity Trips</h3>
								<div style="overflow:hidden;">
									<img src="img/3.jpg" class="img-thumb">
								</div>
								<div class="caption">
									<h3>Just to get away.</h3>
									<p>We organize fraternity wide trips that range from the ski slopes of Colorado to the beaches of the Outer Banks.</p>
								</div>
							</div>
						</div>

						<div class="thumb">
							<div class="thumbnail">
								<h3>Philanthropy</h3>
								<div style="overflow:hidden;">
									<img src="img/keenmain.jpg" class="img-thumb">
								</div>
								<div class="caption">
									<h3>We have fun helping others.</h3>
									<p>We volunteer with a number of organizations including the Keen Institute in DC and the FIRST National Robotics League.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12" style="text-align:center; margin-top:10px;">
						<h2>Convinced? Click Below for the full 2016 Rush Schedule</h2>
						<a id="rush" href="schedule.html" class="btn btn-warning btn-lg">
							<img src="img/calendar179.png">
							Rush Schedule
						</a>
						<BR><BR>
						<h3>Not Convinced? Contact us and let us know why not</h3>
						<a id="rush" href="contact.html" class="btn btn-info btn-lg">
							Contact
						</a>
					</div>

				</div>
			</div>
		</section>
	</div>

    {{ > footer }}

			<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>-->
		</div>

	</div>

	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scroll.js"></script>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Major', 'Members'],
			['Mechanical',18],
			['Civil',5],
			['Bio',5],
			['CS', 9],
			['Computer',6],
			['Chemical',8],
			['Aerospace',3],
			['Other',4]
			]);

		var options = {
			title: 'Breakdown of Majors',
			pieHole: 0.4,
			backgroundColor: 'rgba(0,0,0,0)',
		};

		var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
		chart.draw(data, options);

		$('rect').css('display','none');
		if($( window ).width() < 425){
			document.getElementsByTagName('svg')[0].childNodes[3].style.display='none';
		}
	}

	$(window).scroll(function() {
		$('.logo-cont').each(function(){
			var offset = $(this).offset().top,
			scroll = $(window).scrollTop(),
			itemheight = $(this).outerHeight(),
			windowheight = $(window).height();
			//console.log($(this).attr('src'),offset, scroll + windowheight, itemheight, windowheight);

			if((scroll+windowheight) >= (offset+itemheight)){
				$(this).addClass('scrolled');
			}
			else{
				$(this).removeClass('scrolled');
			}
		});
	});

	$( window ).resize(function(){
		if($( window ).width() < 425){
			document.getElementsByTagName('svg')[0].childNodes[3].style.display='none';
		}
		else{
			document.getElementsByTagName('svg')[0].childNodes[3].style.display='';
		}
	});
	</script>

</body>
</html>
