<html lang="en">

{{ > header }}



<body>

 {{ > nav }}
	<div class="container" style="text-align:center">
		<h2 style="margin-top:50px;">Fall 2016 Rush Schedule</h2>
		<h4>Events subject to change. Check the <a href="https://www.facebook.com/events/1645457949102420/">Facebook</a> event for the most up to date information</h4>
		<div class="list-group">
			<div class="list-group-item active">
				<p style="font-size: 12pt;">Rush Chair: Kyle Goncz<BR>
				Cell: (443) - 875 - 8015<BR>
				Email: gonczky@gmail.com
				</p>
			</div>
			<div class="list-group-item" id="s_1">
				<h3>IFC Meet the Greeks</h3>
				<p>Tuesday, August 30th - 4:00 to 7:00 pm</p>
				<a href="https://www.google.com/maps/place/McKeldin+Mall/@38.9858364,-76.9445291,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7c697c8d49521:0x36d0713bcfc2156d!8m2!3d38.9858364!4d-76.9423404" target="_blank">
					<img src="img/pin56.png">McKeldin Mall
				</a>
			</div>
			<div class="list-group-item" id="s_2">
				<h3>Meet the Brothers</h3>
				<p>Wednesday, August 31st - 4:30 to 7:00 pm</p>
				<a href="https://www.google.com/maps/place/4710+Quebec+St,+College+Park,+MD+20740/@38.9948651,-76.9332527,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7c6a7c99227db:0xbdb7a1b42b947671" target="_blank">
					<img src="img/pin56.png">4710 Quebec Street
				</a>
			</div>
			<div class="list-group-item" id="s_3">
				<h3>Resume Criques and Stoagies and Hoagies</h3>
				<p>Thursday, September 1st - 7:00 to 8:30 pm and 8:30 to 11:00pm</p>
				<a href="https://www.google.com/maps/place/4710+Quebec+St,+College+Park,+MD+20740/@38.9948651,-76.9332527,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7c6a7c99227db:0xbdb7a1b42b947671" target="_blank">
					<img src="img/pin56.png">4710 Quebec Street
				</a>
			</div>
			<div class="list-group-item" id="s_4">
				<h3>Invite Only</h3>
				<p>Saturday, September 3rd - 10:00 pm</p>
				<a href="https://www.google.com/maps/place/4710+Quebec+St,+College+Park,+MD+20740/@38.9948651,-76.9332527,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7c6a7c99227db:0xbdb7a1b42b947671" target="_blank">
					<img src="img/pin56.png">4710 Quebec Street
				</a>
			</div>
			<div class="list-group-item">
				<h3>Video Game Night</h3>
				<p>Monday, September 5th - 7:00 to 10:00 pm</p>
				<a href="https://www.google.com/maps/place/4710+Quebec+St,+College+Park,+MD+20740/@38.9948651,-76.9332527,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7c6a7c99227db:0xbdb7a1b42b947671" target="_blank">
					<img src="img/pin56.png">4710 Quebec Street
				</a>
			</div>
			<div class="list-group-item" id="s_4">
				<h3>Invite Only</h3>
				<p>Tuesday, September 6th - 7:00 to 10:00 pm</p>
				<a href="https://www.google.com/maps/place/4710+Quebec+St,+College+Park,+MD+20740/@38.9948651,-76.9332527,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7c6a7c99227db:0xbdb7a1b42b947671" target="_blank">
					<img src="img/pin56.png">4710 Quebec Street
				</a>
			</div>
		</div>
	</div>
		
    {{ > footer }}
			<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>-->
	</div>


	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slidemenu.js"></script>


	<script>
	$(window).scroll(function() {
		if ($(document).scrollTop() > 50) {
			$('nav, .navbar-brand, #nav-container').addClass('shrink');
		} else {
			$('nav, .navbar-brand, #nav-container').removeClass('shrink');
		}
	});

	</script>

</body>
</html>
